@import domain.sql.Table
@import domain.sql._

@(table: Table, name: String)

/**
 * Interface I@(name)Factory
 * @@package App\Forms
 */
interface I@(name)Factory
{
    /**
    * @@return @name
    */
    function create();
}

/**
 * Class @(name)
 * @@package App\Forms
 */
class @name extends BaseForm {

    // specifies template directory for BaseForm parent
    const TEMPLATE_DIRECTORY = "templates/@table.name";
    // specifies template name for BaseForm parent
    const TEMPLATE_NAME = "@(table.name).latte";

    /**
     * Callback to be called when submit is successfully processed
     * @@var callable
     */
    public $onDone;

    public function __construct()
    {
        parent::__construct();
    }

    /**
     * Form success callback
     * @@param Form $form
     * @@param $values
     */
    public function processForm(Form $form, $values)
    {
        //TODO: This is generated template and needs to be implemented

        if ($this->onDone) {
            $this->onDone();
        }
    }

    /**
    * Creates form
    * @@return UI\Form
    */
    protected function createComponentForm()
    {
        $form = new Form();

    @for(col <- table.cols) {
        @col.colType match {
            case ColumnInt()|ColumnVarchar()|ColumnTimestamp() => {$form->addText("@col.name", "@col.name")}
            case ColumnTinyInt() => {$form->addCheckbox("@col.name", "@col.name")}
            case ColumnEnum() => {$form->addSelect("@col.name", "@col.name", @col.options.find(_.isInstanceOf[ColumnEnumTypes]).getOrElse(ColumnEnumTypes(List())) match {
                case a: ColumnEnumTypes => {
                    [
                    @for(t <- a.types){"@t"@if(!a.types.last.equals(t)) {,}}
                    ])}
                case _ => {)}
                }}
            case ColumnText() => {$form->addTextArea("@col.name", "@col.name")}
            case _ => {NUTING}
        }
        @col.colType match {
            case ColumnInt() => {   ->addRule(Form::NUMERIC, "@col.name must be a number")}
            case _ => {}
        }
        @for(opt <- col.options) {
        }
    }
        $form->onSuccess[] = array($this, 'processForm');
        return $form;
    }
}
